:root{
    --primary-color: hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 90%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 15%);
    --transition:color 0.15s, background-color 0.2s ease-in-out;
    --border-radius: 0.25em; 
    --border-color: hsl(0, 0%, 90%, 0.40);
    --bg-header-color:  hsl(0, 0%, 20%);
    --skills-bar-length:0%; 
} 


*{
    box-sizing: border-box;
}


body{
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family:sans-serif;


}


body.light{
    --text-color: hsl(0, 0%, 15%);
    --bg-color: hsl(0, 0%, 89%);
    --bg-card-color:  hsl(0, 0%, 89%);
    --border-color:  hsl(0, 0%, 15%, 0.20);
    --bg-header-color: hsl(0, 0%, 86%);
}

.header{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 75px;
    padding: 0 2em;
    background-color: var(--bg-header-color);
    transition: var(--transition);
}


.switches{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme__icon{
    margin-right: 0.5em;
    width: 20px;
}

.toggle-theme__text{
    font-size: 0.8rem;
}


.flags{
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    
}

.flags__item{
    width: 65px;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.flags__item:hover{
    width: 85px;
    margin: 0;
}

.flag__text{
    font-size: 0.75rem;
    margin:0;
    margin-bottom: 0.25rem;
    text-align: center;
}


.flags__img{
    cursor: pointer;
    display: block;
}


.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 80px;
}

.colors__item{
    width: 16px;
    height: 16px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__item--mono{
    background-color: var(--text-color)
}


.colors__item--red{
 --primary-color: hsl(0, 86%, 29%);
}

.colors__item--blue{
 --primary-color: hsl(214, 84%, 56%);
}

.colors__item--green{
 --primary-color: hsl(150, 66%, 48%);
}

a{
    color: var(--primary-color);
    text-decoration: none;
    transition: var(--transition);
}

img{
    width: 100%;
    display: block;
}

.main{
    display: grid;
    padding: 1em;
    gap: 0.5em;
}

@media screen and (min-width:720px){
    .main{
        grid-template-columns: min-content 1fr;
    }
}

.column{
    display: grid;
    gap: 0.5em;
}

@media screen and (min-width:720px){
    .column--right{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
    }
}

.card{
    padding: 1em;
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
}

.card__image-container{
    min-width: 320px;
    border-radius:50%;
    overflow: hidden;
    margin-bottom: 1em;
    
}

.card__header{
    padding: 1em 0;
}

.card__title{
    margin: 0;
    font-size: 1.2rem;
}

.card__subtitle{
    font-size: 0.9rem;
    opacity: 0.8;
    margin-top: 0.2em;
}

.card__link{
    margin-bottom: 0.75em;
}

.card__text{
    font-size: 0.9em;
    line-height: 1.3;
    text-align: justify;
}

@media screen and (min-width: 760px){
    .card__project{
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column: 1 / -1;
    }
}


.skills{
    padding: 1em 0;
}

.skills__header{
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
}

.skills__tech{
    margin: 0;
    margin-right: auto;
    font-size: 0.8rem;
}

.skills__start-level{
    font-size: 0.8rem;

}

.skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.skills__bar, .skills__bar::after{
    position: relative;
    width: 175px;
    height: 2px;
    background-color: #8884;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.skills__bar::after{
    content: " ";
    position: absolute;
    left: -175px;
    background-color: var(--primary-color);
    transition: var(--transition);
    animation: skills-bar-fill 2s ease-in-out forwards;
}

.skills__bar--10::after{
    --skills-bar-length: 10%;
}
.skills__bar--20::after{
    --skills-bar-length: 20%;
}
.skills__bar--30::after{
    --skills-bar-length: 30%;
}
.skills__bar--40::after{
    --skills-bar-length: 40%;
}
.skills__bar--50::after{
    --skills-bar-length: 50%;
}
.skills__bar--60::after{
    --skills-bar-length: 60%;
}
.skills__bar--70::after{
    --skills-bar-length: 70%;
}
.skills__bar--80::after{
    --skills-bar-length: 80%;
}
.skills__bar--90::after{
    --skills-bar-length: 90%;
}


.experience{
  display: flex;
  align-items: start;
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.card__title--experience{
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;

}

.experience__time{
    font-size: 0.8rem;
    margin-bottom: 0.5em;
}

.experience__job{
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--primary-color);
    transition: var(--transition);
}

.experience__description{
    font-size: 0.9em;
    line-height: 1.3;
    text-align: justify;
}

.card__image-container--content{
    min-width: 320px;
    border-radius:var(--border-radius);
    overflow: hidden;
}

.project{
    position: relative;
}

@media screen and (min-width: 760px){
    .project{
        margin-left: 2em;
    }
}

.project__tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5em 0;
    font-size: 0.7rem;
    width: 100%;
    gap:0.25rem
}

@media screen and (min-width: 760px){
    .project__tags{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        width: 100%;
        font-size: 0.8rem;


    }
}

.project__tag{
    padding: .4em .8em;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--bg-color);
    
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 225px;
}

@media screen and (min-width: 760px){
    .buttons{
        position: absolute;
        bottom: 1em;

    }
}

.button{
    width: 100px;
    line-height: 2.5;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);
    
}

.button--primary{
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.button--primary:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.button--ghost{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.button--ghost:hover{
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.icon{
    margin-right: 1em;
}

@keyframes skills-bar-fill{
    to{
        transform: translateX(var(--skills-bar-length));
    }
}

.card--right{
    padding: 0.5em;
    border-radius: var(--border-radius);
    background-color: var(--bg-header-color);
    border-radius: var(--border-radius);



}

